
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato-Light';
	src: url('../fonts/Lato-Light.eot');
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.woff') format('woff'),
		url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {margin: 0;padding:0;font-family: 'Lato-Regular';color:#000000;background-color: #f4f4f4;}
p, a {font-size:13px;line-height:24px;color:#505153;}
p {font-family:'Lato-Light';}
ul, ol {list-style: outside none none;margin: 0;padding: 0;}
h2, .h2 {color: #243c4f;font-size: 36px;font-family: Lato-Regular;}
h2, .h2, h3, .h3, h4, .h4 {color: #243c4f;}
html, body {height: 100%;}

/*==========Header*============*/
.header-ds {
    background-color: #505153;
    color: #ffffff;
    float: left;
    padding: 15px 0;
    width: 100%;
}
.logo-file {
    float: left;
}
.navbar-ds {
    float: right;
}
.main-nav li {
    float: left;
    padding: 0 20px;
}
.main-nav li a {
    color: #ffffff;
    display: block;
    line-height: 37px;
    padding: 0px;
    text-decoration: none;
    text-transform: uppercase;
	position: relative;
}
.notifications {
    background-color: #424242;
    border-radius: 50%;
    display: block;
    height: 37px;
    text-align: center;
    width: 37px;
}
.notifications i {
    line-height: 37px;
}
.noti-alert {
    background-color: #ff0000;
    border-radius: 50%;
    box-shadow: -1px 1px 1px #666666;
    font-size: 11px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 22px;
}
.user-small-dp {
    background-color: #dddddd;
    border-radius: 4px;
    display: inline-block;
    float: left !important;
    height: 37px;
    margin-right: 8px;
    overflow: hidden;
    width: 40px;
}
#user_avatar_browse_button {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #ffffff;
    height: 35px;
    left: 0;
    line-height: 35px;
    opacity: 0;
    padding: 0;
    position: absolute !important;
    right: 0;
    text-align: center;
	transition:all 0.2s ease-in;
}
.user-mid-dp:hover #user_avatar_browse_button {
    opacity: 1;
}
.original-dp {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}
.user-small-dp .original-dp img {
    height: 100%;
    width: 100%;
}
.start-project-btn > a {
    background-color: #067b75;
    padding: 0 15px !important;
}

/*==========Header-END*============*/


/*==========Alert Box============*/
.inner-content-ds {
    float: left;
    width: 100%;
}
.white-bx {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    box-shadow: 0 1px 1px #eeeeee;
    float: left;
    width: 100%;
}
.alert-bx {
    float: left;
    margin-top: 20px;
    padding-right: 15px;
    width: 100%;
}
.title-hd {
    border-bottom: 1px solid #ebebeb;
    padding: 0 15px;
}
.bx-inner {
    float: left;
    padding: 10px 15px;
    width: 100%;
}
.bx-inner > ul {
    float: left;
    margin: 0;
    width: 100%;
}
p.md-font {
    font-size: 15px;
}
.red-col {
    color: #ff0000;
    font-family: "Lato-Regular";
}
.bx-inner a {
    display: block;
    padding: 4px 0;
}
.bx-inner a span {
    color: #979898;
    float: right;
    font-size: 11px;
}
/*==========Alert Box-END============*/


/*==========Left Sidebar============*/
.inner-container {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.leftside-ds {
    float: left;
    width: 25%;
}
.inner-container .title-hd {
    text-align: center;
}
.user-mid-dp {
    border-radius: 50%;
    height: 102px;
    margin: auto;
    overflow: hidden;
    width: 100px;
}
.user-mid-dp .original-dp img {
	height: 100%;
    width: 100%;
}
.user-nm {
    margin: 4px 0;
    text-align: center;
}
.user-perecetage {
    color: #067b75;
    margin-bottom: 4px;
    text-align: center;
}
.profile-comp {
    border-bottom: 2px solid #067b75;
    font-size: 13px;
    padding: 6px 0;
    text-align: center;
}

.bx-footer {
    border-top: 1px solid #ebebeb;
    padding: 5px 15px;
}
.bx-footer li {
    display: inline-block;
}
.bx-footer > ul {
    margin-top: 4px;
    text-align: center;
}
.bx-footer a {
    border-right: 1px solid #c2c2c2;
    color: #333333;
    display: inline-block;
    float: left;
    padding: 0 10px;
}
.bx-footer li:last-child a {
    border: medium none;
    padding-left: 6px;
}
.title-hd h4 {
    font-size: 16px;
}
.invites-frnds, .resources-tool, .finacs, .need-help, .meet-qou, .case-studies, .rattings {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.invites-frnds .bx-inner {
    text-align: center;
}
.invites-frnds .bx-inner p {
    color: #505153;
    font-family: lato-regular;
    margin-top: 8px;
}
.btn-ds {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 8px;
    text-decoration: none;
	cursor:pointer;
}
.green-dflt {
    background-color: #067b75;
    color: #ffffff;
}

.rattings .rate-row > span {
    margin: 0 !important;
    width: auto;
}
.rattings .rate-row > ul {
    float: right;
}

.rattings .bx-inner > ul > li:first-child {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.rattings .bx-inner > ul > li {
    padding-bottom: 6px;
}

.recommnd {
    border-top: 1px solid #f5f5f5;
    float: left;
    font-family: lato-regular;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 8px;
    width: 100%;
}
.recommnd::before {
    background: rgba(0, 0, 0, 0) url("../images/icons/recommended.png") no-repeat scroll left center;
    content: "";
    display: inline-block;
    height: 16px;
    position: relative;
    top: 3px;
    width: 24px;
}
.resources-tool ul li a:before {
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 3px;
    width: 16px;
}
.pract::before {
    background-image: url("../images/icons/pdf.png");
}
.sklqbl::before {
    background-image: url("../images/icons/skillquo-blog.png");
}
.resources-tool ul li a {
    border-bottom: 1px solid #f5f5f5;
    color: #505153;
    display: block;
    padding: 5px 0;
}
.resources-tool ul li:last-child a {
    border: medium none;
}

.view-all {
    float: left;
    text-align: right;
    text-decoration: none;
    width: 100%;
}

.rightside-ds {
    float: left;
    padding-left: 20px;
    width: 75%;
}
.tab-head li {
    float: left;
    text-align: center;
    width: 33.33%;
}
.tab-head a {
    background: rgba(0, 0, 0, 0) linear-gradient(#f4f4f4, #e7eaee) repeat scroll 0 0;
    border-right: 1px solid #eaeaea;
    display: block;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}
.tab-head li.active a {
    background: #ffffff none repeat scroll 0 0;
}
.tab-head {
    float: left;
    width: 100%;
}
.tab-body {
    float: left;
    width: 100%;
}
.tab-gad {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    float: left;
    width: 100%;
}
.tab-cont {
    background-color: #ffffff;
    display: none;
    float: left;
    padding: 15px;
    width: 100%;
}
.tab-cont.active {
    display: block;
}
.tab-head li:last-child a {
    border: medium none;
}

.get-started {
    padding: 15px;
    text-align: center;
}
.get-started h1 {
    font-family: lato-light;
}
.project-type .btn-ds {
    display: inline-block;
    margin: 0;
    width: 215px;
}
.dark-dflt {
    background-color: #424242;
    color: #ffffff;
}
.or-divider {
    background-color: #eeeeee;
    border-radius: 50%;
    display: inline-block;
    font-family: lato-light;
    height: 30px;
    line-height: 30px;
    margin: 0 6px;
    text-align: center;
    width: 30px;
}
.project-type {
    padding: 15px 0;
}
.custom-select {
    display: inline-block;
    position: relative;
}
.select-dd {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    max-height: 0;
    overflow: auto;
    position: absolute;
    transition: all 0.2s ease-in 0s;
    visibility: hidden;
    z-index: 9;
}
.select-dd li a {
    border-bottom: 1px solid #eeeeee;
    display: block;
    padding: 6px 12px;
    text-align: left;
}
.select-dd.active {
    max-height: 173px;
    visibility: visible;
}
.get-started > p {
    font-size: 15px;
}

.need-help .bx-inner ul li a span {
    background-repeat: no-repeat;
    display: block;
    float: none;
    height: 25px;
    margin: auto;
    width: 25px;
}
.starting-business {
    background-image: url("../images/icons/starting-business.png");
}
.marketing {
    background-image: url("../images/icons/marketing.png");
}
.analysis {
    background-image: url("../images/icons/analysis.png");
}
.optimizations {
    background-image: url("../images/icons/optimization.png");
}
.need-help .bx-inner ul li {
    border-right: 1px solid #ebebeb;
    display: inline-block;
    float: left;
    padding: 25px 0;
    text-align: center;
    transition: all 0.2s ease-in 0s;
    width: 25%;
}
.need-help {
    float: left;
    width: 100%;
}
.need-help .white-bx {
    float: left;
    width: 100%;
}
.need-help .bx-inner ul li a {
    font-size: 11px;
}
.need-help .bx-inner ul li:last-child {
    border: medium none;
}
.need-help .bx-inner ul li.active, .need-help .bx-inner ul li:hover {
    background-color: #f6f6f6;
}
.need-help .bx-inner ul li a:hover {
    text-decoration: none;
}

.meet-qou .bx-inner a {
    display: block;
    line-height: 17px;
}
.meet-qou .bx-inner {
    float: left;
    width: 100%;
	height: 107px
}
.meet-qou .white-bx {
    float: left;
    width: 100%;
}
.enabled {
    background-image: url("../images/icons/star-enabled.png");
}
.enabled2 {
    background-image: url("../images/icons/star-enabled2.png");
}
.star {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    margin-top: 3px;
    width: 17px;
}
.disabled {
    background-image: url("../images/icons/star-disabled.png");
}
.m-quo-slider {
    height: 107px;
}
.m-quo-slider > ul {
    float: left;
    width: 100%;
	transition: all 0.2s ease-in 0s;
}
.meet-qou .bx-inner > .m-quo-slider > ul > li {
    border-right: 1px solid #ebebeb;
    float: left;
    padding: 30px 12px;
    width: 48%;
}
.meet-qou .bx-inner > .m-quo-slider > ul > li:last-child {
    border: medium none;
}
.inner-container .rightside-ds .title-hd {
    text-align: left;
}

.mtqou-contolers {
    float: right;
}
.mtqou-contolers i {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    letter-spacing: 1px;
    line-height: 17px;
    margin: 0 2px;
    text-align: center;
    width: 20px;
	cursor: pointer;
}

.case-studies .bx-inner li {
    display: inline-block;
    float: left;
    width: 50%;
}
.case-studies .bx-inner {
    float: left;
    width: 100%;
}
.case-studies .white-bx {
    float: left;
    width: 100%;
}
.case-studies .bx-inner a {
    border-radius: 6px;
    display: block;
    margin: 8px;
    overflow: hidden;
	position: relative;
}

.bx-inner a span.cs-cap {
    bottom: 20px;
    color: #ffffff;
    font-size: 18px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 1px #000000;
    z-index: 9;
}
.view-cs {
    float: right;
}
/*==========Left Sidebar-END============*/


/*==========Right Content============*/

.custom-project > h4 > span {
    display: block;
    font-family: "Lato-Light";
    font-size: 14px;
    margin-top: 8px;
}
.hd-list ul li {
    display: inline-block;
}
.hd-list ul li span, .hd-list ul li a {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    display: block;
    float: left;
    font-family: lato-light;
    font-size: 13px;
    line-height: 20px;
    padding: 8px 16px;
	text-decoration: none;
	cursor: pointer;
}
.hd-list ul li.bids-btn {
    float: right;
}
.bids-btn > a {
    background: rgba(0, 0, 0, 0) linear-gradient(#f4f4f4, #e7eaee) repeat scroll 0 0;
}
.custom-project .hd-list {
    margin-bottom: 10px;
    margin-top: 15px;
}
.project-disc {
    background-color: #efefef;
    float: left;
    padding: 15px 0;
    width: 100%;
}
.project-disc h5 {
    color: #505153;
    margin-top: 0;
}
.user-md-dp .original-dp {
    background-size: 100% auto;
    float: left;
    width: 100%;
}
.freelancers-user > p {
    line-height: 18px;
    margin-top: 2px;
}
.freelancers-user {
    font-size: 15px;
}
.white-btn {
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.btn-ds.white-btn {
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    padding: 8px 15px;
	text-decoration: none;
}
.rate-row > ul {
    display: inline-block;
}
.rate-row > span {
    display: inline-block;
    width: 265px;
}
.rate-row.rated-quo > span {
    margin-right: 3px;
    width: auto;
}
.rate-row:first-child > span {
    margin-bottom: 30px;
}
.user-md-dp {
	background-color: #dddddd;
    border-radius: 50%;
    display: inline-block;
    float: left;
    height: 71px;
    margin-right: 8px;
    overflow: hidden;
    width: 71px;
}

.project-detail {
    border-top: 1px solid #e2e2e2;
    margin-top: 15px;
    padding-top: 15px;
}
.blue-title {
    color: #256eff;
}
.blue-title i {
    color: #ff0000;
    font-size: 18px;
}
.project-detail > h5 {
    margin: 12px 0 4px;
}
.custom-project {
    float: left;
    width: 100%;
}

.table-hd {
    background-color: #505153;
    color: #ffffff;
    padding: 8px;
    text-align: center;
}

.table-bdy {
    background-color: #efefef;
    float: left;
    padding: 15px 0;
}
.bider-profile {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 15px;
}
.table-bdy .btn-ds {
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
}
.table-bdy h6 {
    margin-bottom: 0;
}
.table-bdy h4 {
    margin-bottom: 24px;
}

.wrk-exp {
    border-top: 1px solid #e2e2e2;
    color: #505153;
    font-family: lato-light;
    margin-top: 12px;
    padding-top: 12px;
}
.exp-row > span {
    display: inline-block;
    font-family: lato-regular;
    margin-bottom: 4px;
    width: 150px;
}
.exp-row {
    font-size: 13px;
}
.wrk-exp > h5 {
    font-family: lato-regular;
    margin-bottom: 15px;
}

/*==========Right Content-END============*/


.footer {
    background-color: #404040;
    float: left;
    padding: 30px 0;
    width: 100%;
	margin-top: 40px;
}

.footer h4 {
    color: #0fbab1;
    margin-bottom: 20px;
}
.footer p {
    color: #8b8b8b;
}
.footer .logo-file {
    margin-bottom: 20px;
}
.footer a {
    color: #8b8b8b;
    display: block;
    padding: 0 0 8px;
}

@media screen and (min-width:640px) and (max-width:767px) {
    
}

@media screen and (min-width:768px) and (max-width:1024px) {
	
}

@media screen and (min-width:999px) and (max-width:1024px) {
	
}

@media screen and (min-width:320px) and (max-width:480px) {
	
}