/*
Theme Name:     Freelanceengine Child
Theme URI:      http://enginetheme.com/
Description:    Child theme for the FreelanceEngine theme
Author:         enginethemes
Author URI:     http://enginetheme.com/about/
Template:       freelanceengine
Version:        1.0
*/

.about-us-counter .counter-wrapper {
	padding-top: 20px;
}

.color-left {
    background-image: url("https://scontent.fhou1-2.fna.fbcdn.net/v/t1.0-9/14088699_1637241213255356_6826328143616945621_n.png?oh=9674d626a3df3a3821610e29ccbf68d5&oe=58501175");
}

.bg-color-wrapper .color-left, .bg-color-wrapper .color-right{
 background-color: transparent !important;
}
#video-background-wrapper #covervid-video{
display:none !important;
}

.bg-sub-wrapper .color-left, .bg-sub-wrapper .color-right {
 background: rgba(22,62,80,.9);
}
.bg-sub-wrapper .color-right {
 right: 0;
 background: rgba(22,62,80,.9);
}


#completion_module {
    padding: 0 25px;
    padding-bottom: 25px;
}

#completion_module .completion_bar {
	height: 3px;
    background: lightgray;
}

.completion_list span {
    display: block;
    padding: 15px 10px 0;
}

.completion_list span i {
    display: inline-block;
	margin-right: 10px;
    min-width: 10px;
}

div.light-green {
	background-color: #AED581;
}

div.yellow {
	background-color: #FFEE58;
}

div.orange {
	background-color: #FFB74D;
}

span.fail {
	color: #F44336;
}

span.success {
	color: #4CAF50;
}

div.red {
	background-color: #F44336;
}

div.green {
	background-color: #4CAF50;
}

.featherlight-inner form .form-group div {
    margin-bottom: 15px;
}

.featherlight-content form .form-group {
    margin-bottom: 0;
}

#opc-product-selection {
    width: 48%;
    float: left;
}

.opc-single-product {
    padding: 20px;
}

#customer_details .col-2 {
    display: none;
}

.woocommerce-page div.product div.summary {
    float: left;
    width: 100%;
}

.woocommerce div.product div.images, .woocommerce-billing-fields label {
    display: none !important;
}

.woocommerce #upgrade-account {
    display: none;
}

button.single_add_to_cart_button, button.single_add_to_cart_button:hover,
input#place_order, input#place_order:hover {
    background-color: #067b75 !important;
}

button.single_add_to_cart_button:hover, input#place_order:hover {
    opacity: 0.9;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
    background: #ffffff;
}

#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before {
    border: 1em solid #eee;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
    background-color: #eee;
}

.woocommerce table.shop_table {
    border: 1px solid #067b75;
}

.tab-content-profile .block-profiles .avatar-profile-page #user_avatar_browse_button {
    padding: 0;
}