.m-quo-slider-custom > ul > li {
      border-right: 1px solid #ebebeb;
    float: left;
    padding: 30px 12px 30px 30px;
    width: 50%;
}
.mtqou-contolers-custom {
    float: right;
}
.mtqou-contolers-custom i {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    letter-spacing: 1px;
    line-height: 17px;
    margin: 0 2px;
    text-align: center;
    width: 20px;
}
#like-freelancer{margin-bottom: 15px;
    padding: 3px 15px;}
#like-freelancer.user-liked{opacity:0.7;}
.m-quo-slider-custom > ul {
    float: left;
    transition: all 0.2s ease-in 0s;
    width: 100%;
}