.list-project{
  list-style:none;
  padding:0;
  margin:0;
  li{
    background: $white-base;
    padding:15px;
    margin-bottom: 10px;
    display: block;
  }
  .avatar-author-project{
    width: 25px;
    height: 25px;
    display:inline-block;
    float:left;
    img{
      width:100%;
      height:auto;
      border-radius: 50%;
    }
  }
  .title-project{
    margin-left:10px;
    display:inline-block;
    overflow:hidden;
    width:85%;
    width:calc(100% - 60px);
    color: #30363b;
    font-size: 14px;
    font-weight: 600;
  }
  .info-project-top{
    border-bottom:1px solid #dde0e3;
    padding-bottom:10px;
    margin-bottom:10px;
  }
}
span.ribbon {
  display: inline-block;
  width:20px;
  height:20px;
  background:$blue-light-base;
  position:relative;
  text-align:center;
  top: -15px;
  right: 0px;
  padding-top: 5px;
  overflow: inherit;
}
.info-bottom{
  .name-author{
    color: #656e78;
    font-size: 10px;
    float:left;
    width: 70%;
    display: inline-block;
    line-height: 2;
    font-size: 11px;
    font-weight: 400;
  }
  .price-project{
    color: $orange-base;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    width: 30%;
    vertical-align: top;
    display: inline-block;
  }
}
.load-more{
  color: #727b84;
  font-size: 16px;
  text-align:center;
  display:block;
}
ul.wrapper-achivement{
  list-style:none;
  padding:0;
  margin: 15px 0 0;
  border:1px solid #dde0e3;
  li{
    border-right:1px solid #dde0e3;
    padding:12px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    width:32.3333%;
    text-align:center;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: 500;
    &:last-child{
      border:none;
    }
  }
}
ul.list-user-bid-container {
  padding: 0;
  li {
    list-style-type: none;
  }
}
.moxie-shim.moxie-shim-html5 {
  width: 100% !important;
  height: 100% !important;
}

.btn-sub-create {
  background-color: #e74c3c;
  padding: 6px 20px;
  box-shadow: 0 2px 0 #bf392b;
  font-weight: 400;
  color: #FFF;
}